{% extends "user.html" %}
{% block head %}
     <script src="/static/functions.js"></script>
{% endblock %}
 {% block userpage %}

<div class="container-bmi" >
    <h2 id="descriptionApp"> <a href="{{ url_for('tool', username=current_user.username) }}"> <i class="fas fa-arrow-alt-circle-left" ></i> </a> Inserisci i tuoi dati:</h2>
     <div class="inputData">
        <table>
          <tr>
            <th>Gender: </th>
            <td>
                <div class="form-check">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="IDEALgen" value="male" checked>
                      <label class="form-check-label" for="exampleRadios1">
                        Male
                      </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="IDEALgen" value="female">
                  <label class="form-check-label" for="exampleRadios2">
                    Female
                  </label>
                </div>

            </td>

          </tr>
          <tr>
          {% if current_user.weight %}
            <th>Weight: </th>
            <td> <input id="IDEALweight" class="camp" type="text" name="links" placeholder=85 value="{{ current_user.weight }}" /></td>
              <td>kg</td>
          {% else %}
            <th>Weight: </th>
            <td> <input id="IDEALweight" class="camp" type="text" name="links" placeholder=85 /></td>
              <td>kg</td>
          {% endif %}
          </tr>
          <tr>
          {% if current_user.height %}
            <th>Height: </th>
            <td> <input id="IDEALheight" class="camp" type="text" name="links" placeholder=180 value="{{ current_user.height }}"/> </td>
              <td>cm</td>
          {% else %}
            <th>Height: </th>
            <td> <input id="IDEALheight" class="camp" type="text" name="links" placeholder=180 /> </td>
              <td>cm</td>
          {% endif %}
          </tr>
            <tr>
                <td></td> <td colspan="2"> <button id="calculateIdealW"> Calculate</button></td>
            </tr>
        </table>
     </div>
        <div class="resultData" style="display: none">
                <div id="imageResult"> <img src="../../../static/toolImages/idealweight.png" style="width: 100%; height: 100%"></div>
                <div id="textResult">
                    <a style="font-weight: bold">Devine: <br> </a>
                    <a id="Devine"></a>
                    <br>
                    <a style="font-weight: bold">Hamwi: <br></a>
                    <a id="Hamwi"></a>
                    <br>
                    <a style="font-weight: bold">Miller: <br></a>
                    <a id="Miller"></a>
                    <br>
                    <a style="font-weight: bold">Robinson: <br></a>
                    <a id="Robinson"></a>
                </div>
        </div>
</div>

{% endblock %}

