{% extends 'base.html' %}
{% block content %}
    <div style="overflow-y: scroll;overflow-x:hidden;height:80%;margin:0 auto auto 40px;">
    <h1 class="great">Register</h1>
    <form action="" method="post">
    <div class="row">
        {{ form.hidden_tag() }}
         <p class="col-md-6">
            {{ form.firstname.label }}<br>
            {{ form.firstname(size=32) }}<br>
            {% for error in form.firstname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="col-md-6">
            {{ form.lastname.label }}<br>
            {{ form.lastname(size=32) }}<br>
            {% for error in form.lastname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="col-md-6">
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="col-md-6">
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="col-md-6">
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="col-md-6">
            {{ form.birthdate.label }}<br>
            {{ form.birthdate(size=32) }}<br>
            {% for error in form.birthdate.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="col-md-6">
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    </div>

        <p class="great" style="margin:0 auto;display: block">{{ form.submit() }}</p>

    </form>
    </div>
{% endblock %}